.thread {
    background-color: var(--color-primary);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.thread .thread-header {
    display: flex;
    border-bottom: 1px solid var(--color-light);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.thread .thread-header__contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: var(--color-font-white);
    padding: 1rem;
}

.thread .thread-header__contents .thread-header__contents-info {
    margin-left: 1.5rem;
}

.thread .thread-header__contents-info > h3, h4 {
    font-weight: 500;
}

.thread .thread-header__contents-info > h3 {
    font-size: 18px;
    margin-bottom: 1rem;
}

.thread .thread-header__contents-info > h4 {
    font-size: 14px;
    color: var(--color-font-white);
}

.thread__header::-webkit-scrollbar {
    display: none;
}

.thread .thread__messages {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    overflow-y: scroll;
    padding: 2rem;
}

.thread .thread__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border-top: 1px solid var(--color-light);
}

.thread .thread__input > input {
    width: 100%;
    outline-width: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    color: var(--color-font-white);
}