.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid var(--color-light);
}

.sidebar__header {
    display: flex;
    height: 5rem;
    padding: 1rem;
    align-items: center;
}

.sidebar__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: var(--color-bg-variant);
    color: var(--color-white);
    border-radius: 0.5rem;
    padding: 2px;
}

.sidebar__input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: var(--color-white);
    flex: 1;
}

.MuiIconButton-root.sidebar__button {
    color: var(--color-white);
}