* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************************************/
/*                VARIABLES                 */
/********************************************/

:root {
    --color-bg-dark: #122135;
    --color-bg: #1f304e;
    --color-bg-variant: #2d4671;
    --color-primary: rgba(2, 150, 199);
    --color-primary-variant: #00000;
    --color-white: #fff;
    --color-light: rgba(190, 190, 190, 0.1);

    --transition: all 400ms ease;

    --container-width-lg: 65%;
    --container-width-md: 76%;
    --container-width-sm: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/********************************************/
/*             CUSTOM STYLES                */
/********************************************/

html {
    font-size: 10px;
}

body {
    background-color: var(--color-bg-dark);
}

.app {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 0.24fr 0.75fr;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--color-bg);
}

.MuiIconButton-root.button-light {
    color: var(--color-white);
}

.MuiIconButton-root.button-light:hover {
    color: var(--color-primary);
}