.message {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1rem;
    max-width: var(--message-width-lg);
    margin: 4px 0;

    border: none;
    border-radius: 8px;
    background-color: var(--color-active-element);
    color: var(--color-font-white);
    padding: 1rem;
}

.message .message__contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message .message__contents .message__body{
    flex: 1 1;
    font-size: 14px;
}

.message .message__contents .message__timestamp{
    align-self: center;
    font-size: 10px;
}